/* foot.css */

#msg {
  color: white;
  background-color: rgb(128, 0, 0);
  font-family: "Lora", serif;
  height: 40px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  ;
}

.footer {
  background-color: rgb(128, 0, 0);
  color: white;
  font-family: "Lora", serif;
  padding: 20px 0;
  z-index: 0;
}

title {
  color: black;
  font-family: "Lora", serif;
  font-size: x-large;
  font-weight: bold;
  ;
}

.ab {
  color: black;
  font-family: "Lora", serif;
  font-size: large;
  text-decoration: none;
  list-style-type: none;
}

.row {
  background-color: rgba(210, 180, 140, 0.785);
  ;
}

.title {
  font-family: "lora";
  font-weight: bold;
  font-size: x-large;
  margin-top: 0;
}

#email {
  background-color: #c0c0c0;
  border-color: rgb(128, 0, 0);
  border-radius: 0;
  margin-right: 8px;
  color: black;
}

.bn {
  background-color: rgb(128, 0, 0);
  border-radius: 0;
  color: white;
}
#foot
{
   bottom: 0;
   left:0;
   position: relative;
   width: 100%;
   
}


.logo-container {
  height: 160px; /* Set the height to match the other divs */
  
  display: flex;
  align-items: flex-start;
}

.logo {
  max-height: 100px;
  max-width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  
 
}





