/* Header.css */

/*msg*/
.header {
  text-align: center;
  padding: 0px;
  font-family: "Lora", serif;
  font-size: large;
  width: 100%;

 z-index: 1;
}
.header-container
{
  width: 100%;
}

.navbar {
  background-color: rgba(210, 180, 140, 0.785);
  color: black;
  font-family: "Lora", serif;
}



.icon {
  font-size: 0.9em;
  margin: 15px;
  color: black;
}
.marquee-container {
  width: 100%;
  height: 40px;
  overflow: hidden;
  background-color: rgb(128, 0, 0);
}
.marquee-text {
  color: white;
  white-space: nowrap;
  -webkit-animation: marqueeAnimation 12s linear infinite;
  animation: marqueeAnimation 12s linear infinite;
  display: inline-block;
  font-size: smaller;
  padding-left: 100vw;
}

@-webkit-keyframes marqueeAnimation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}





