/* Header.css */

/*msg*/
.header {
  text-align: center;
  padding: 0px;
  font-family: "Lora", serif;
  font-size: large;
  z-index: 1;
}

.navbar {
  background-color: rgba(210, 180, 140, 0.785);
  color: black;
  font-family: "Lora", serif;
}



.icon {
  font-size: 0.9em;
  margin: 15px;
}
.marquee-container {
  height: 40px;
  overflow: hidden;
  background-color: rgb(128, 0, 0);
}
.marquee-text {
  color: white;
  white-space: nowrap;
  -webkit-animation: marqueeAnimation 17s linear infinite;
  animation: marqueeAnimation 17s linear infinite;
  display: inline-block;
  font-size: smaller;
}

@-webkit-keyframes marqueeAnimation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


.popup {
  /* Login.css */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-inner {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.popup.active {
  display: flex;
}
.button {
  background-color: black;
  color: white; /* Set text color to white */
  border-color: black; /* Set border color to black */
}

.button:hover {
  background-color: rgb(128, 0, 0);
  border-color: rgb(128, 0, 0);
}

